apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: grading-system
  labels:
    app: frontend
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
  - name: http
    port: 5000
    targetPort: 5000
    protocol: TCP

